body {
  background: #272932;
  margin: 0; /* Assure que le body prend toute la hauteur */
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 80%;
  height: 80%;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;

  border-radius: 40px;
  box-shadow: #efefef80 0px 5px 15px;

  background-color: #efefef;
}

